<!DOCTYPE html>
<html lang="en">
  <head>
    <base href='/'>
    <title>DashIt</title>
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/js-data/dist/js-data.js"></script>
    <script src="/bower_components/js-data-angular/dist/js-data-angular.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/../js/main.js"></script>
  </head>
  <body>
    <div class='presentation'>
      <div ng-app="DashIt">
        <navbar></navbar>
        <ui-view></ui-view>
      </div>
    </div>
  </body>
</html>
